/*html, body {*/
    /*background-color: #fff;*/
    /*color: #636b6f;*/
    /*font-family: 'Nunito', sans-serif;*/
    /*font-weight: 200;*/
    /*height: 100vh;*/
    /*margin: 0;*/
/*}*/
.fb {
    background-color: #3B5998;
    color: white;
}
.full-height {
    height: 100vh;
}
.yk-l-btn {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 4px;
    margin: 5px 0;
    opacity: 0.85;
    display: inline-block;
    font-size: 17px;
    line-height: 20px;
    text-decoration: none; /* remove underline from anchors */
}

input:hover,
.yk-l-btn:hover {
    opacity: 1;
}
.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}
